* {
  box-sizing: border-box;
  outline: none; }

body {
  height: 100vh;
  background-color: #3c3c3c;
  font-family: 'Open Sans', sans-serif; }

   
  
.calc {
  width: 1072px;
  height: 650px;
  border: 2px solid #efae02;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top; }

.tab {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center; }

.tab__left, .tab__right {
  width: 200px;
  height: 70px;
  border-radius: 0 15px 0 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.77), #323131);
  margin-right: 5px;
  color: #cecece;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  line-height: 70px;
  cursor: pointer; }

.tab__left {
  border-radius: 15px 0 0 0; }

.active {
  background: #efae02;
  color: #000;
  position: relative; }
  .active:before {
    content: '';
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: #efae02;
    left: 0;
    bottom: -6px; }

.blocks__counter {
  width: 132px;
  height: 60px;
  border: 3px solid rgba(239, 174, 2, 0.6);
  background-color: transparent;
  color: #efae02;
  text-align: center;
  font-size: 48px;
  font-weight: 700; }

.blocks {
  width: 65%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .blocks__title {
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: 700; }
    .blocks__title:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #efae02;
      bottom: 0;
      left: 0; }

#pages-block {
  display: none; }

.addition {
  font-size: 30px;
  font-weight: 700;
  color: #efae02; }
  .addition__title {
    text-align: center; }
  .addition__block {
    text-align: left; }
    .addition__block input[type="checkbox"] {
      display: none; }
    .addition__block input[type="checkbox"] + label:before {
      content: "\2713";
      color: transparent;
      display: inline-block;
      border: 3px solid #ffffff;
      font-size: 20px;
      line-height: 22px;
      margin: -5px 5px 0 0;
      height: 20px;
      width: 20px;
      text-align: center;
      vertical-align: middle; }
    .addition__block input[type=checkbox]:checked + label:before {
      color: #ffffff; }

.total {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700; }
  .total__count {
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: none;
    color: #efae02;
    text-align: right;
    font-size: 56px;
    font-weight: 700; }
